VIDIVIDEO_ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=190103;User Id=sa;Password=YourStrongPassword1!;TrustServerCertificate=True
VIDIVIDEO_Jwt__Issuer=VidiVideo
VIDIVIDEO_Jwt__Audience=VidiVideo.Clients
VIDIVIDEO_Jwt__Key=replace-with-at-least-32-characters-secret
VIDIVIDEO_RabbitMq__Host=rabbitmq
VIDIVIDEO_RabbitMq__Port=5656
VIDIVIDEO_RabbitMq__UserName=vidivideo
VIDIVIDEO_RabbitMq__Password=vidivideo
VIDIVIDEO_Cors__AllowedOrigins__0=http://localhost:5000
