VIDIVIDEO_MSSQL_SA_PASSWORD=replace-me
VIDIVIDEO_RABBITMQ_DEFAULT_USER=replace-me
VIDIVIDEO_RABBITMQ_DEFAULT_PASSWORD=replace-me
VIDIVIDEO_ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=190103;User Id=sa;Password=YourStrongPassword1!;TrustServerCertificate=True
VIDIVIDEO_Jwt__Issuer=VidiVideo
VIDIVIDEO_Jwt__Audience=VidiVideo.Clients
VIDIVIDEO_Jwt__Key=replace-with-at-least-32-characters-secret
VIDIVIDEO_RabbitMq__Host=rabbitmq
VIDIVIDEO_RabbitMq__Port=5672
VIDIVIDEO_RabbitMq__UserName=replace-me
VIDIVIDEO_RabbitMq__Password=replace-me
VIDIVIDEO_Cors__AllowedOrigins__0=http://localhost:5000
VIDIVIDEO_PayPal__ClientId=YOUR_PAYPAL_CLIENT_ID
VIDIVIDEO_PayPal__Secret=YOUR_PAYPAL_SECRET
VIDIVIDEO_PayPal__BaseUrl=https://api-m.sandbox.paypal.com
VIDIVIDEO_PayPal__Currency=USD
VIDIVIDEO_PayPal__SubscriptionPrice=5.00
VIDIVIDEO_PayPal__PlatformFee=1.00
VIDIVIDEO_PayPal__PartnerAttributionId=PARTNER_ATTRIBUTION_ID
VIDIVIDEO_PayPal__PartnerMerchantId=PARTNER_MERCHANT_ID
VIDIVIDEO_ImageSettings__ImageDirectory=wwwroot/images
ASPNETCORE_ENVIRONMENT=Development
